@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
body {
    background-color: rgb(60, 120, 130);
    text-align: center;
    font-family:  'Teko', sans-serif;
}

#hlavniDiv {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0%;
    height: 100%;
    background-color: whitesmoke;
    text-align: center;
}
h1 {
    background-color: rgb(60, 120, 130);
    margin: 10% 20%;
    padding: 10%;
    color: aliceblue;
}
a {
    font-size: 1.5em;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(50, 150, 180);
    margin: 5%;
    padding: 5%;
    
}
a:hover {
    background-color: rgb(40, 170, 210);
}